body {
  font-family: Arial, sans-serif;
  display: flex;
  
  margin: 0;
  padding: 0;
}

.container {
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.product-image {
  flex: 1;
}

.thumbnails img {
  margin-right: 5px;
  cursor: pointer;
}

.product-details {
  flex: 1;
  padding: 20px;
}

.color-variant, .size-selector, .quantity-selector {
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-message {
  display: none;
  margin-top: 10px;
  font-weight: bold;
  color: #008000;
  animation: fadeIn 300ms ease-out; 
}


.discount {
  color: #F00000;
  padding: 10px;
  font-size: small;
}

label {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}